@import "tailwindcss";

@theme {
    --color-light-primary: #fff4e0;
    --color-light-secondary: #2f2b5c;
    --color-light-highlight: #457cd6;
}

[data-theme="light"] {
    --primary: var(--color-light-primary);
    --secondary: var(--color-light-secondary);
    --highlight: var(--color-light-highlight);
}

html,
body,
#app {
    height: 100svh;
    max-height: 100svh;
}